@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body{
    font-family: 'Space Mono', monospace; 
    background:#fff;
    background-size: cover;
}
body *{
    color: #212A3E !important;

}

/* NAVBAR */
.navbar{
    border-bottom:1px solid #212A3E ;
    box-shadow: 0 8px 6px -6px #212A3E;
}

.nav-item{
    padding-right:2em;
}
.nav-item:hover{
    font-weight: bold;
}

.btn{
    border: 1px solid #212A3E;
}

.btn:hover{
    background-color: #212A3E;
    color:white !important;
}

/* STAGES */

 .last-day{
    text-align: center;
    margin-top: 5px;
    padding: 15px;
    border-radius: 0;
    border:none;
    background:url("/frontend/create-project/soyuttüpler.png");
}

.stage-dot{
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}


/* card */

 .card{
    border:none;
    padding-bottom: 2em;
}

.form-control{
    border:1px solid #212A3E;
}  

.create-bg{
    background: url("/frontend/create-project/soyuttüpler.png");
    background-size: cover;
    background-position: center;
    text-align: center;
}
.create-bg h1{
    margin-top:15px;
    font-weight:800;
    font-size:95px;
    color:white !important;
}
.create-bg h5{
    margin-top: 8em;
    color:white !important;
}

.create-btn{
    background-color: #212A3E;
    color:white !important;
    width: 100%;
    padding:10px 5px;
}

.create-btn:hover{
    background-color: white;
    color: #212A3E !important;
    border: 1px solid #212A3E
}

/* footer */

footer{
    text-align: center;
    height: 17vh;
}

footer *{
    padding-top:15px;
    text-decoration: none;
}

footer a{
    color:white;
}

footer a:hover{
    opacity: 0.7;
}
footer .social a{
    margin-right: 10px;
}

