@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body{
    font-family: 'Space Mono', monospace; 
    background:#F1F6F9;
}
body *{
    color: #212A3E !important;

}

/* NAVBAR */

.navbar{
    border-bottom:1px solid #212A3E ;
    box-shadow: 0 8px 6px -6px #212A3E;
}

.nav-item{
    padding-right:2em;
}
.nav-item:hover{
    font-weight: bold;
}

.btn{
    border: 1px solid #212A3E;
}

.btn:hover{
    background-color: #212A3E;
    color:white !important;
}

/* STAGES */

.last-day{
    text-align: center;
    border-radius: 0;
    margin-top: 3.5em;
    border:none;
    background-color: #E9BE25;
}

.last-day h1{
    color: #212A3E !important ;
    padding: 10px;
}  

.stage-dot{
    text-align: center;
    display: flex;
    justify-content: space-around;
}


/* PROJECT CARDS */

.card{
    background: linear-gradient(to left top, #E9BE25, #F1F6F9);

}
.info, .number{
    display:flex;
    justify-content: space-around;
}

.fund-btn{
    width:35%;
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 10px;
    background: #212A3E;
    color:white !important;
}
.fund-btn:hover{
    background-color: #F1F6F9;
    color:#212A3E !important;
    border:1px solid #212A3E;
}
#number{
    background: #F1F6F9;
    border: 1px solid #212A3E;
}

.card-footer{
    display: flex;
    justify-content: space-between;
}

/* MODALS */

.icons{
    display: flex;
    justify-content: space-around;
}

.modal-footer{
    display: flex;
    justify-content: space-between;
}

.modal-btn{
    width: 40%;
}


/* FOOTER */

footer{
    background-color: #212A3E;
    text-align: center;
    height: 17vh;
}

footer *{
    padding-top:15px;
    color: white !important;
    text-decoration: none;
}

footer a{
    color:white;
}

footer a:hover{
    opacity: 0.7;
}
footer .social a{
    margin-right: 10px;
}