.color0 {
  background: #1d67cd;
  color: #fff !important;
}

.color1 {
  background: #5a149e;
  color: #fff !important;
}

.color2 {
  background: #31cd1d;
  color: #fff !important;
}

.color3 {
  background: #c91f3f;
  color: #fff !important;
}

.color4 {
  background: #15d2d4;
  color: #fff !important;
}

.color5 {
  background: #f030e1;
  color: #fff !important;
}

.prev_card {
  border-radius: 5px 20px;
}
.prev_card:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
  transition: 0.5s;
}

.prev_btn {
  width: 35%;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 10px;
}
.prev_btn:hover {
  background-color: #212a3e;
  color: #f1f6f9 !important;
  border: 1px solid #212a3e;
}
