/* PROJECT CARDS */

.execute_card {
  border-radius: 5px 20px;
}
.execute_card:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
  transition: 0.5s;
}

.execute_info,
.execute_number {
  display: flex;
  justify-content: space-around;
}

.execute_btn {
  width: 35%;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 10px;
  background-color: #f1f6f9;
  color: #212a3e !important;
  border: 1px solid #212a3e;
}

.execute_btn:hover {
  background: #212a3e;
  color: white !important;
}

#execute_number {
  background: #f1f6f9;
  border: 1px solid #212a3e;
}

.execute_card_footer {
  display: flex;
  justify-content: space-between;
}
.execute_number i {
  margin-right: 4px;
}
/* MODALS */

.execute_icons {
  display: flex;
  justify-content: space-around;
}

.execute_modal_footer {
  display: flex;
  justify-content: space-between;
}

.execute_modal_btn {
  width: 40%;
}
