@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

body {
  font-family: "Space Mono", monospace;
  background:#180d5b;
}

body * {
  color: #fff;
}

/* NAVBAR */
.navbar {
  border-bottom: 1px solid #212a3e;
  box-shadow: 0 8px 6px -6px #212a3e;
}
.navbar * {
  color: #212a3e !important;
}

.nav-item {
  padding-right: 2em;
}
.nav-item:hover {
  font-weight: bold;
}

.btn {
  border: 1px solid #212a3e;
}

.btn:hover {
  background-color: #212a3e;
  color: white !important;
}

.dropdown-menu {
  font-weight: normal;
  padding: 5px;
  background: linear-gradient(#fff, #b3c3da);
}
.dropdown-item:hover {
  background: linear-gradient(#fff, #b3c3da);
}

/* HEADER */

.header {
  background: url("/frontend/home-page/homepage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100%;
}

.header h1 {
  padding-top: 250px;
  font-size: 150px;
}

.header * {
  color: #fff !important;
}

.btn-light {
  color: #212a3e !important;
  border-radius: 20px;
  padding: 10px 60px;
  font-weight: bold;
}

.btn-light:hover {
  background-color: #689ade;
}

.header_items {
  margin-top: 10em;
}

.header_item i {
  font-size: 70px;
  color: #5d62f9 !important;
}

/* offcanvas */

.offcanvas * {
  color: #180d5b !important;
}

.list-scroll{
  height:110px;
  overflow-x: hidden;
  overflow-y: auto;

}
.list-scroll::-webkit-scrollbar {
  width: 1em;
}

.list-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
}

.list-scroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 1em;
}

.join-btn {
  background-color: #180d5b;
  padding: 5px 30px;
  color: #fff !important;
}

.join-btn:hover {
  background-color: #fff;
  color: #180d5b !important;
  border: 1px solid #180d5b;
}


/* CARDS */

.row-image {
  margin-bottom: -100px;
}

.card {
  background-color: #180d5b;
  border: none;
}

img {
  width: 100%;
}

.card_text {
  color: #fff !important;
  text-align: center;
  margin-top: 33%;
  font-size: 60px;
  font-weight: bold;
  margin-left: -2em;
}

.totals i {
  font-size: 50px;
}

.totals h1 {
  color: #9e57e4 !important;
}

/* ABOUT */


.about h1 {
  font-size: 50px;
}

.about_text {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* FOOTER */

footer {
  text-align: center;
  height: 17vh;
  background-color: #FCFCFD !important;
}


footer * {
  padding-top: 15px;
  text-decoration: none;
  color: #180d5b !important;
}

footer a {
  color: white;
}

footer a:hover {
  opacity: 0.7;
}
footer .social a {
  margin-right: 10px;
}

.goksen {
  margin-top: 0;
}