.last_day {
  text-align: center;
  margin-top: 5px;
  padding: 15px;
  border-radius: 0;
  border: none;
  background: url("/images/bg.png");
}

.stage_dot {
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.active_stage {
  color: blueviolet !important;
  font-weight: bold;
}
